* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}


/* container for heading, background Image and element position */

.container {
    width: 100%;
    height: 100vh;
    background: url("caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg");
    background-size: cover;
    color: cyan;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*  Container box for element of stop watch */

#container-box {
    width: 500px;
    height: 200px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 50px;
    margin-top: 50px;
}


/* input box to display timer */

#input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellowgreen;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Courier Prime', monospace;
}


/* button for function of buttons */

#btn button {
    width: 110px;
    height: 45px;
    margin: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 80px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 2px 1px red;
    cursor: pointer;
}